body{
    background: color #fffcfc;
    color: #050404;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight:normal ;
    line-height: 1.6em;
    margin: 0;
}

.box-1{
    background-color: #f0e9e9;
    color: #1c06ab;
}